<div class="container-fluid">
    <div class="row d-flex align-items-center bg-light-grey py-3">
        <div class="col-1">
            <div class="d-flex justify-content-center">
                <a routerLink="/" class="avatar avatar-xl rounded-circle">
                  <img alt="logo" src="assets/logos/Colored_Equalizer@2x.png">
                </a>
            </div>
        </div>
        <div class="col-6" *ngIf="showSearch">
            <div class="mb-3">
                <input
                    matInput
                    [formControl]="searchControl"
                    class="form-control" 
                    placeholder="Search artist">
            </div>
        </div>
    </div>
</div>